.footer{
	border-top: 1px solid #222222;
	background-color: #222222;

	a, p{
		color: #999999;
		font-size: 12px;
	}

	h4{
		color: rgb(240, 137, 56);
	}

	ul{
		width: 110px;
	}

	li{
		
		list-style-type: none;
		padding: 1px 6px;

		&:hover{
			background-color: #313131;
		}

		a{
			
			&:hover{
				text-decoration: none;
				color: #999999;
			}
		}
	}

	li.fbook-link{
		padding: 0px;
		width: 30px;
		img{
			margin: 5px;
			height: 20px;
			width: 20px;
		}

	}

	li.email-link{
		width: 30px;
		padding: 0;
		padding-left: 2px;
		padding-bottom: 1px;

		i{
			font-size: 14px;
			margin: 5px;
		}
	}

	div.container{
		margin-top: 30px;
		padding: 5px;
	}

}