<div class="appcontent about-page">

	<div class="container white-bg">
		<div class="row">
			<div class="col-xs-8 stretch-on-small">
                <h1>About</h1>
                <p>H&A Automotive is a <strong>Honda and Acura repair specialist automotive shop</strong>. With 24 years of experience, you get dealer quality work at an independent cost. <br><br>H&A offers a full range of services and preventative maintenance from oil changes, brakes, comprehensive per-purchase inspections, and everything in between.  H&A is excited to provide trustworthy, professional service on any car troubles you may be experiencing.
                </p>
            </div>
            <div class="col-xs-4 text-centered hide-on-small" style="padding-top:10px;">
                <img src="images/logo.png" class="img-auto-width" />
            </div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-5 text-centered hide-on-small">
				<img src="images/ken_cropped.jpg" class="img-rounded img-auto-width"/>
			</div>

			<div class="col-xs-7 stretch-on-small">

				<h2>Kenny Morris</h2>

				<img src="images/ken_cropped.jpg" class="img-rounded img-auto-width show-when-small"/>

				<p>Prior to co-founding H&A Automotive, Kenny spent over seven years providing superior service for Honda and Acura vehicles.  For five of those seven years, he was employed as a Service Technician with Leith Honda, one of the largest automotive groups in the Triangle area. He was awarded the "Outstanding Performance Award" from Leith Automotive Group in 2012, and also won second place in Leith's highly coveted "Key Competition". </p>

				<p>In 2006, Kenny graduated with honors from Universal Technical Institute (UTI) in Mooresville, North Carolina, with three ASE certifications and a 94 GPA.  While attending school, he completed the prestigious Audi Academy Program in Arizona, where he sharpened his diagnostic skills.</p>

                <p>Although Kenny is to well qualified to service many vehicle brands, he chose to specialize in Hondas and Acuras.  Kenny loves when his customers bring him challenges; he considers himself the go to guy that can find and fix the problem when others can’t.  If you don’t believe him, just ask his many happy customers. </p>

				<p>In his spare time, Kenny enjoys watching and playing hockey, as well as spending time with friends and family.  He looks forwarding to helping you maintain and / or repair your vehicle!</p>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-5 text-centered hide-on-small">
				<img src="images/jaime_cropped.jpg" class="img-rounded img-auto-width"/>
			</div>

			<div class="col-xs-7 stretch-on-small">

				<h2>Jamie Worrell</h2>

				<img src="images/jaime_cropped.jpg" class="img-rounded img-auto-width show-when-small"/>


				<p>Jamie is a Raleigh native and has lived here his entire life. He graduated from Enloe High School in 1994.  Following High School, Jamie continued in his life-long passion for cars and attended the Automotive program at Wake Tech Community College.  He started off his automotive career with jobs at All-Tune and Lube, Sir Walter Chevrolet and Thompson Cadillac.  Jamie finally found his way to Leith Honda in 1997 with a strong desire to work hard and learn everything he could about Hondas.  He was promoted to Team Leader during his employment, later allowing him to share his knowledge and mentor other up and coming technicians.</p>

				<p>Jamie credits his parents for his strong work ethic.  His mother, Brenda is working in her 40th year at Nationwide Insurance in Raleigh.  His father, Vance, retired from Central Prison in 2002, owned a cleaning business for over twenty years and still works full-time to this day delivering car parts for Thompson Cadillac.</p>

				<p>Jamie and his wife Heather have been married for fifteen years (their relationship dates all the way back to their Enloe High School days).  They have two wonderful children, Courtney and Justin.  Aside from being co-owner of H & A Automotive, devoted husband and loving father, Jamie finds time for fishing, shooting and biking with family.  You will also find Jamie cheering on his kids at their sporting activities, including softball, baseball, basketball and cross country.  Jamie and Heather are active volunteers and members at their church, Crossroads Fellowship, where they have been attending for over ten years.</p>

				<p>Jamie’s focus on family and faith has helped him develop the reputation of being an “honest mechanic”.  We hope this; along with his seventeen years of experience with Honda will allow him to provide quality, experienced car care for your family!</p>
			</div>

		</div>

		<div class="large-bottom-margin"></div>

	</div>

	<div class="footer-holder"></div>

</div>
