<div class="appcontent contact-page">
	<div class="container white-bg">
		<h1>Contact</h1>
		<p>Serving the Raleigh, Durham, Chapel Hill area with professional, trustworthy car repairs and preventative services at an affordable price.</p><br>

        <p>We know loyalty is earned.  That’s why honest answers, reliable service & 100% customer satisfaction is our priority. We’ll never fix something that isn’t in need of repair or sell you something you don’t need. If something isn’t fixed to your complete satisfaction, just bring it back. No hassle, no arguments.</p>

        <br>
        <p>
            Call for an appointment or stop in to see our availability.  H&A is open Monday through Friday 8am to 5pm and Saturdays by appointment.
        </p>

        <p>
        2617 Rowland Rd. Suite 114<br>
        Raleigh, NC 27615<br>
        919-876-3533
        </p>

        <h5><a href="mailto:h3Aauto@gmail.com"><i class="glyphicon glyphicon-envelope"></i> Email H&A</a></h5>

		<hr>

        <div class="row">

            <div class="col-xs-12 text-centered">            
                <img src="images/front2_cropped.jpg" class="img-rounded img-auto-width-70" />
            </div>

        </div>

        <hr>

		<div class="row">

            <div class="col-xs-12 text-centered">
            	<div id="map" class="img-rounded img-auto-width-70"></div>
            </div>

	    </div>

		<div class="large-bottom-margin"></div>

	</div>

	<div class="footer-holder"></div>	

</div>