<div class="footer">		
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				<h4><strong>H&A Automotive Inc.</strong><h4>
				<p>Serving the Raleigh, Durham, Chapel Hill area with trustworthy car repairs and preventative services.<p>
				<br>
				<p>
					2617 Rowland Rd. Suite 114<br>
                	Raleigh, NC 27615<br>
                	919-876-3533
                </p>

                <p>&copy; H&A Automotive, Inc. 2014</p>			
			</div>

			<div class="col-xs-2">
				<ul class="pull-right">
					<li>
						<a href="" class="home-link">Home</a>
					</li>
					<li>
						<a href="" class="about-link">About</a>
					</li>
					<li>
						<a href="" class="services-link">Services</a>
					</li>
					<li>
						<a href="" class="contact-link">Contact</a>
					</li>
					<li class="email-link">
						<a href="mailto:h3Aauto@gmail.com" title="Email H&A - h3Aauto@gmail.com"><i class="glyphicon glyphicon-envelope"></i></a>
					</li>
					<li class="fbook-link">
						<a title="Yelp" target="_blank" href="http://www.yelp.com/biz/h-and-a-automotive-inc-raleigh-2"><img src="images/yelp.jpg"/></a>
					</li>
					<li class="fbook-link">
						<a title="Facebook" target="_blank" href="https://www.facebook.com/haautomotive"><img src="images/fb.png"/></a>
					</li>

					<br>
				</ul>

				
			</div>
		</div>
	</div>		
</div>