<div id="homeAbout"></div>
<div id="bg1" class="skroller-div" data-0="transform:translate(0,0%);" data-300p="transform:translate(0,-100%);"></div>
<div id="welcome" class="skroller-div home-section" data-30p="transform:translate(0,74%);" data-60p="transform:translate(0,-100%);">
    <div class="container">

        <div class="row">
            
            <div class="col-xs-8 stretch-on-small">
                <h1>Welcome <a class="chevron-link about-link" href="#about" title="Expand About"><i class="glyphicon glyphicon-chevron-right"></i></a></h1>
                <p>H&A Automotive is a <strong>Honda and Acura repair specialist automotive shop</strong>. With 24 years of experience, you get dealer quality work at an independent cost. <br><br>H&A offers a full range of services and preventative maintenance from oil changes, brakes, comprehensive per-purchase inspections, and everything in between.  H&A is excited to provide trustworthy, professional service on any car troubles you may be experiencing.
                </p>
            </div>
            <div class="col-xs-4 text-centered hide-on-small" style="padding-top:10px;">             
                <img class="img-auto-width" src="images/logo.png"/>           
            </div>
        </div>

        
        <a href="#" id="homeServicesLink" title="Home - Services" class="scroller-arrow scroller-arrow-half"></a>
    </div>
</div>
<div id="bg2" class="skroller-div" data-0="transform:translate(0,100%);" data-100p="transform:translate(0,0%);"></div>

<div id="services" class="skroller-div home-section" data-0="transform:translate(0,400%);" data-110p="transform:translate(0,44%);" data-150p="transform:translate(0,44%);" data-160p="transform:translate(0,-100%);">                
    <div class="container">
       <div class="row">
            
            <div class="col-xs-6 stretch-on-small">
                <h1>Services <a class="chevron-link services-link" href="#services" title="Expand Services"><i class="glyphicon glyphicon-chevron-right"></i></a></h1> 
                <p>H&A Automotive is a full service garage.  H&A specializes in Honda and Acura, but <strong>services are available for all automobile makes and models</strong>.</p>

                <table><tr>
                    <td><ul>
                        <li>Brakes</li>
                        <li>Timing Belt</li>
                        <li>Major Services</li>
                        <li>Check Engine Light</li>
                        <li>Pre-Purchase Inspections</li>
                        <li>Brake Fluid</li>                      
                    </ul></td>
                     <td><ul>
                        <li>Coolant Flush</li>
                        <li>Oil Changes</li>
                        <li>Transmissions</li>
                        <li>Rear Differentials</li>
                        <li>Tire Rotation</li>
                        <li>And Much More...</li>
                    </ul></td>
                </tr></table>

            </div>
            <div class="col-xs-6 text-centered hide-on-small" style="padding-top:30px;">
                <img src="images/lift2.jpg" class="img-circle img-auto-width" />
            </div>

        </div>
    </div>
    <a href="#" id="homeContactLink" title="Home - Contact" class="scroller-arrow scroller-arrow-half"></a>
</div>
<div id="bg3" class="skroller-div" data-140p="transform:translate(0,100%);" data-210p="transform:translate(0,0%);"></div>

<div id="contact" class="skroller-div home-section" data-0="transform:translate(0,900%);" data-220p="transform:translate(0,50%);">  

    <div class="container" style="padding-bottom:0px;">
        <div class="row">

            <div class="col-xs-6 hide-on-small">            
                <img src="images/front2_cropped.jpg" style="margin-top:30px" class="text-centered img-rounded img-auto-width" />
            </div>

            <div class="col-xs-6 stretch-on-small">
                <h1>Contact <a class="chevron-link contact-link" href="#contact" title="Expand Contact"><i class="glyphicon glyphicon-chevron-right"></i></a></h1>
                <p>Serving the Raleigh, Durham, Chapel Hill area with professional, trustworthy car repairs and preventative services at an affordable price.</p>

                <p>
                2617 Rowland Rd. Suite 114<br>
                Raleigh, NC 27615<br>
                919-876-3533
                </p>
                
                <p><strong>Hours:</strong><br>
                Open Monday-Friday 8am - 5pm. (Saturdays by appointment)
                </p>
            </div>
        </div>

        <div class="row">
            <a class="pull-right to-top" href="#" id="homeTopLink" title="Home - Welcome"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
        </div>
    </div>
    
</div>