<div class="appcontent services-page">

	

	<div class="container white-bg">
		<h1>Services</h1>
		<p>H&A is a full service garage.  H&A specializes in Honda/Acura, but <strong>services are available for all automobile makes and models</strong>.</p>

		<hr>

		<div class="row">

			<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/honda_brakes.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Brakes</h2>

				<img src="images/honda_brakes.jpg" class="img-rounded img-auto-width show-when-small" /><br>
	
				<p>Your vehicle’s brake system is very important for your safety because it allows your wheels to stop when needed. The brakes operate on a hydraulic system that begins with brake fluid located in the engine compartment. When you push the brake pedal, hydraulic pressure builds and is transferred to each wheel to push the brake shoes against the drums and the pads against the rotors. This friction slows the vehicle in proportion to the force applied to the brake pedal. Routine brake inspections and maintenance help to ensure that your vehicle’s brake system operates as designed at all times.</p>

				<h3>Brake Fluid Flush Service</h3>
				<p>For the best performance, your brake fluid should be flushed and replaced about every 3 years or based on your vehicle manufacturer’s specifications.</p>

				<h3>Front & Rear Brake Service</h3>
				<p>H&A Automotive can perform all types of front and rear brake service including replacement of brake drums, shoes, pads, calipers, hoses, master brake cylinder, wheel cylinders, proportioning valve and Anti-Lock Brake (ABS) unit.</p>

				<h3>Resurfacing Brake Rotors and Drums</h3>
				<p>Resurfacing the rotors and drums creates a new surface for the brake pad.  This extends their life and ensures even wear over time.</p>

            </div>

		</div>

		<hr>

		<div class="row">

			<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/inspect.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>State Inspections</h2>

				<img src="images/inspect.jpg" class="img-rounded img-auto-width show-when-small" /><br>
	
				<p>Clean air makes North Carolina a more pleasant place to live. When our air is clean we breathe better, feel better, and remain healthier. That's why North Carolina complies with the federal Clean Air Act by requiring emissions inspections in highly populated areas.</p>

				<p>When you register your newer gasoline-powered vehicles in an emissions county, your vehicle will have to pass an "On Board Diagnostics" emissions test. This is in addition to the safety inspection that your vehicle must also pass.  H&A Automotive can take care of your North Carolina state inspection needs.</p>

            </div>

		</div>

		<hr>

		<div class="row">

			<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/ac.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Air Conditioning</h2>

				<img src="images/ac.jpg" class="img-rounded img-auto-width show-when-small" /><br>
	
				<p>Your vehicle’s air conditioning (A/C) system pressurizes Freon to create a gas that removes heat from the air entering your car. It then pushes the cooled air through the air conditioning vents for your comfort. H&A Automotive can perform repairs on air conditioning systems for most vehicle makes and models.</p>

				<h3>Air Conditioning System Testing Service</h3>
				<p>First, a visual inspection of the air conditioning system will be performed to discover leaks and damage.  Secondly, thorough tests are done to check pressures, Freon levels, and cooling temperature. If a leak is suspected, we can perform a dye test to verify the leak.</p>

				<h3>Freon Fill Service</h3>
				<p>This service adds Freon to your vehicle’s A/C system to bring it to the correct level for optimal performance.</p>

            </div>

		</div>

		<hr>

		<div class="row">

			<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/rad.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Cooling System</h2>

				<img src="images/rad.jpg" class="img-rounded img-auto-width show-when-small" /><br>
	
				<p>The radiator (or cooling system) circulates coolant while you drive to regulate the temperature of your vehicles engine. Over time the coolant looses effectiveness which can lead to engine overheating and other consequent damage if not replaced every 5 years or 60,000 miles. The cooling system is critical to engine performance all year round, not just during hot weather. H&A Automotive can perform cooling system repairs on water pumps, radiators, and thermostats for most vehicle makes and models.</p>

				<h3>Radiator Flush & Fill Service</h3>
				<p>This service includes an inspection of the radiator (or cooling system) to make sure that it is cooling the engine properly.</p>

				<h3>Hose Replacement Service</h3>
				<p>H&A Automotive will inspect all hoses in the cooling system and replace those that are old and damaged so that coolant flows through the system properly.</p>

				<h3>Cooling System Repairs & Parts Replacement</h3>
				<p>H&A Automotive can perform all types of cooling system repairs and parts replacement including replacement of radiator, thermostat, water pump, and heater core.</p>

            </div>

		</div>

		<hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/underhood.jpg" class="img-rounded img-auto-width-90" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Engine</h2>
				<img src="images/underhood.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>The engine is the life force of your vehicle; performing regular maintenance and fluid changes is important to avoid the risk of break-downs and expensive repairs. H&A Automotive can perform all major and minor engine repairs and inspect all fluids and belts to maintain a high-performing, dependable engine.</p> 

				<h3>Belts & Replacement Service</h3>
				<p>Your vehicle’s belts and hoses are essential to the functioning of the engine and the cooling and air conditioning systems. Replacing them at the correct intervals based on your vehicle manufacturer’s manual increase the dependability of your vehicle. H&A Automotive can inspect and replace:</p>
				<ul>
					<li>Drive Belt (V-Belt)</li>
					<li>Fan Belt</li>
					<li>Serpentine Belt</li>
					<li>Timing Belt</li>
				</ul>

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/shifter.jpg" class="img-rounded img-auto-width" />
                <img src="images/clutch.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Transmission</h2>
				<img src="images/shifter.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>One of the most important parts of your vehicle, the transmission is a gearbox that controls the output of the engine to match the speed of the wheels. An automatic transmission uses a computer to select the precise gear to be used without any driver involvement while a manual transmission requires the driver to use a clutch and gear stick to change the gears. With a manual transmission, the clutch connects the engine to the transmission and allows the engine to keep running when the wheels stop. A torque converter performs the same function for an automatic transmission as the clutch does for a manual transmission.</p> 

				<h3>Automatic Transmission Fluid Change Services</h3>
				<p>Changing the automatic transmission fluid according to your vehicle manufacturer’s specifications will keep your transmission clean and prevent premature wear and damage to the vehicle gears.  We use OEM fluid for all transmission services.</p>
				
				<h3>Manual Transmission Fluid Change Service</h3>
				<p>Changing the manual transmission fluid according to your vehicle manufacturer’s specifications will keep your transmission clean and prevent premature wear and damage to the vehicle gears.</p>

				<h3>Transmission Removal and Replacement Service</h3>
				<p>Over time the gears in your transmission may become worn and need to be replaced. H&A Automotive can diagnose problems with your transmission and replace it if necessary.</p>

				<h3>Clutch Repair Service</h3>
				<p>The clutch connects the engine to the transmission and allows the engine to keep running when the wheels stop by disconnecting it. H&A Automotive can diagnose and repair problems with your clutch so that your vehicle runs smoothly and safely.</p>

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/cel.jpg" class="img-rounded img-auto-width-70" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Check Engine Lights (CEL)</h2>
				<img src="images/cel.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>The Check Engine Light can indicate any number of problems with your engine; from serious to not so serious.  Your vehicle's computer stores diagnostic trouble codes (DTC) in the engine control module, which your H&A Automotive technicians can access and determine the appropriate repairs needed.</p> 

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/sched.jpg" class="img-rounded img-auto-width-70" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Factory Scheduled Maintenance</h2>
				<img src="images/sched.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>H&A Automotive strictly adheres to the manufacturer’s scheduled maintenance plan by mileage intervals as outlined for the vehicle’s specific year, make and model. Services performed in our 30k/60k/90k.... mile factory scheduled maintenance plans are based solely on the vehicle manufacturer’s maintenance schedule; for further details please contact H&A Automotive for a full print out.</p> 

				<h3>Maintenance Plans Performed at H&A Automotive:</h3>
				<ul>
					<li>30,000 Mile Factory Scheduled Maintenance Plan</li>
					<li>60,000 Mile Factory Scheduled Maintenance Plan</li>
					<li>90,000 Mile Factory Scheduled Maintenance Plan</li>
				</ul>

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/oil.jpg" class="img-rounded img-auto-width" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Oil Change</h2>
				<img src="images/oil.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>Want to keep your vehicle's engine in tip top shape? Regular oil changes are vital to the long-term life of your vehicle's engine. Check your vehicle's owner's manual for the suggested service interval.  H&A recommends checking oil level and tire pressures every fuel fill up.</p> 

				<h3>Included in your service:</h3>
				<ul>
					<li>New oil filter</li>
					<li>Up to 5 quarts of quality motor oil</li>
				</ul>

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/wheel.jpg" class="img-rounded img-auto-width-70" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Tire Rotation</h2>
				<img src="images/wheel.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>Keeping your tires properly inflated and rotating them every 5,000 miles will maximize the lifetime of your tires and helps to maintain precise handling and fuel economy in all driving conditions.</p> 

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/hood_cropped.jpg" class="img-rounded img-auto-width-70" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Pre-Purchase Inspections</h2>
				<img src="images/hood_cropped.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>Buying a car? Don't make a costly mistake. We offer a comprehensive per-purchase inspection. We inspect the engine, transmission, suspension, paint, body, and electrical components.</p> 

            </div>	
        </div>

        <hr>

        <div class="row">
        	<div class="col-xs-4 hide-on-small text-centered">            
                <img src="images/diff.jpg" class="img-rounded img-auto-width-70" />
            </div>

			<div class="col-xs-8 stretch-on-small">  
				<h2>Rear Differential Fluid Change</h2>
				<img src="images/diff.jpg" class="img-rounded img-auto-width show-when-small" /><br>

				<p>Rear differential service is a scheduled maintenance item that involves draining and refilling the gear oil housed in the differential. The rear differential is responsible for transferring power to the ground on rear and four-wheel-drive vehicles.</p> 

            </div>	
        </div>

        <div class="row" style="margin-right:5px;">
            <a class="pull-right to-top" href="#" id="homeTopLink" title="Services - Top"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
        </div>

        <div class="large-bottom-margin"></div>

	</div>

	<div class="footer-holder"></div>

</div>
